@import "~bootstrap/scss/bootstrap";

body {
	margin: 50px 100px;
	padding: 0;
}

.colorful span:nth-child(-n+8) {
	color: #EA4335;
}

.colorful span:nth-child(9) {
	color: #999999;
}

.colorful span:nth-child(n+10) {
	color: #000000;
}


.colorful {
	font-size: 3.5em;
	letter-spacing: -2px;
	margin-bottom: 30px;
}

.container {
	margin-top: 180px;
	text-align:center;
	vertical-align: middle;
}

#network {
	height: 500px;
}

.result {
	position: relative;
	padding-bottom: 0.5em;
	border-bottom: 4px solid #DDD;
}

.result::after {
	position: absolute;
	content: " ";
	border-bottom: solid 4px #446689;
	bottom: -4px;
	width: 10%;
	display: block;
}
