<h1>details page</h1>
<p>Youtubeチャンネル</p>
<iframe width="949" height="534" src="https://www.youtube.com/embed/?list=UUFkncXKwLRtA2MFdXOv34yQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>登録人数</p>
<p>Twitter</p>
<a class="twitter-timeline" data-width="220" data-height="400" data-theme="light" href="https://twitter.com/Otojya?ref_src=twsrc%5Etfw">Tweets by Otojya</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>Twitch</p>
<p>ニコニコ</p>