<h2>今人気のyoutuber::<%= @input %>のコラボチャンネル</h2>
<!-- <h3>コラボチャンネル</h3> -->
<p>ユーチューバー草彅チャンネル</p>
<p>パオパオチャンネル</p>
<p>はじめしゃちょー(hajime)</p>
<p>桐崎栄二. きりざきえいじ</p>
<p>Fischer's-フィッシャーズ-</p>
<br>
<%= link_to "トップページ", root_path %>